html {
  touch-action: manipulation;
}

.GRID {
  display: grid;
  grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
  grid-template-rows: 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw 9vw;
}

#version{
  font-size: 3vw;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#create{
  font-size: 3vw;
  color:black;
  background:#ffefcf;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid 1px #ffa000;
  outline:none;
}

#create:active{
  background:#ffdab1;
  border: solid 1px #ff8c00;
  outline:none;
}

#update{
  resize: none;
  font-family: メイリオ;
  font-size: 16px;
  padding: 0.5em; /*余白*/
  grid-column-start: 3; 
  grid-column-end: 6; 
  grid-row-start: 1; 
  grid-row-end: 3; 
}

#savearea_text{
  font-size: 4vw;
  grid-column-start: 1;
  grid-column-end:5;
  grid-row-start:13;
  grid-row-end:14;
  align-self: end;
}

.saveareabuttons{
  font-size: 3vw;
  color:black;
  background:#ffefcf;
  border: solid 1px #ff7100;
  outline:none;
}

.saveareabuttons:active{
  background:#ffdab1;
  border: solid 1px #ff8c00;
  outline:none;
}

#save{
  
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 14;
  grid-row-end: 16;
}

#restoration{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 14;
  grid-row-end: 16;
}

#save_weapondata{
  font-size:16px;
  background:#fffae9;
  resize: none;
  padding: 0.5em;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 14;
  grid-row-end: 16;
  border: solid 1px #ff7100;
  outline:none;
  font-family:メイリオ;
}

#delete{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 14;
  grid-row-end: 16;
}

#qabuttons_text{
  font-size: 4vw;
  grid-column-start: 1;
  grid-column-end:5;
  grid-row-start:16;
  grid-row-end:17;
  align-self: end;
}

#updatebutton{
  font-size:2.5vw;
  color:#654f35;
  background:#fffae9;
  grid-column-start: 1;
  grid-column-end:3 ;
  grid-row-start: 17;
  grid-row-end: 18;
  border: solid 1px #654f35;/*線色*/
  outline:none;
}

#QandAbutton{
  font-size:2.5vw;
  color:#654f35;
  background:#fffae9;
  grid-column-start: 3;
  grid-column-end:5 ;
  grid-row-start: 17;
  grid-row-end: 18;
  border: solid 1px #654f35;/*線色*/
  outline:none;
}

#closebutton{
  font-size:2.5vw;
  color:#654f35;
  background:#fffae9;
  grid-column-start: 5;
  grid-column-end:6;
  grid-row-start: 17;
  grid-row-end: 18;
  border: solid 1px #654f35;/*線色*/
  outline:none;
}
