.buttons{
  font-size: 3vw;
  color:black;
  background:white;
  width:18vw;
  height:18vw;
  outline:none;
  border: solid 1px black;
}
  
#weapon0{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}
  
#weapon1{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
  
#weapon2{
  grid-column-start:3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}
  
#weapon3{
  grid-column-start:4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
  
#weapon4{
  grid-column-start:5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}
  
  #weapon5{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  
  #weapon6{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  
  #weapon7{
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  
  #weapon8{
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  
  #weapon9{
    grid-column-start:5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
  }
  
  #weapon10{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 9;
  }
  
  #weapon11{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
  }
  
  #bear_weapon{
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
  }
  
  #weapon12{
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
  }
  
  #weapon13{
    grid-column-start:5;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
  }
  
  #weapon14{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 11;
  }
  
  #weapon15{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 11;
  }
  
  #weapon16{
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 11;
  }
  
  #weapon17{
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 11;
  }
  
  #weapon18{
    grid-column-start:5;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 11;
  }
  
  #weapon19{
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 13;
  }
  
  #weapon20{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 13;
  }
  
  #weapon21{
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 13;
  }
  
  #weapon22{
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 13;
  }
  
  #weapon23{
    grid-column-start:5;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 13;
  }